{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col-sm-12">
                <h3>Comments:</h3>
            </div>
        </div>
        <div class="row" id="list-comment"></div>

        <div class="add-comment">
            {{ form_start(form, {'attr': {'id': 'comment'}}) }}
            <div class="error"></div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>


{% endblock %}
